/* navbar image */
.nav-image{
    background: rgba(0, 0, 0, 0.7) url('img/hero-bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
    
}


body {
    font-family: 'Roboto';font-size: 20px;
}
.bg-voilet {background-color : #a300bf !important;}
.text-voilet {color : #a300bf !important;}
.bg-1 {
 background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-color: #a300bf;
}

 .background{ 
    background: rgba(0, 0, 0, 0.7) url('img/hero-bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 93vh;
}

@media only screen and (max-width: 600px) {
    .network-image{
        width:350px
    }
}

.cta {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 120px 0;
  }
  
  .cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  .cta p {
    color: #fff;
  }
  
  .cta .cta-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #009961;
    color: #fff;
    border-radius: 50px;
  }
  
  .cta .cta-btn:hover {
    background: #00b371;
  }
  
  @media (max-width: 1024px) {
    .cta {
      background-attachment: scroll;
    }
  }
  
  @media (min-width: 769px) {
    .cta .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  /* navbar  */


  /* about page  */



/* footer css */
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #273c75 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/* custom slide bar */

::-webkit-scrollbar {
    width: 6px;
    height:6px;
  }
  ::-webkit-scrollbar-track {
  border-radius: 10px;
}
  body::-webkit-scrollbar-track {
      /* background-color: #6c7ebb; */
    border-radius: 0px;
  }
  .dark ::-webkit-scrollbar-track{
      /* background-color: #31313a; */
      border-radius: 0 10px 10px 0;
  }
  ::-webkit-scrollbar-thumb {
    
    background-image: linear-gradient(#4458dc, #854fee);
    border-radius: 20px;
  }


/* loader */
.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #273c75;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader.hidden{
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeout {
   
    100%{
        opacity: 0;
        visibility: hidden;
    }
}